<div class="container bg-warning">

       <b>
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6 col-12">
           
             <h5 class="text-danger"> Categorías</h5> 
              Cuidado personal <br>
      
              Cuidado de la salud <br>

              Perfumería <br>
              
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-12">
              <p><br>
                  Mascotas <br>

                  Huerta y Jardín <br>
  
                  Control de Plagas <br></p> 
          </div>
          <div class="col-lg-3 col-md-12 col-sm-12 col-12">
              <h5 class="text-danger"> Información De Interés</h5>
              Política de tratamiento de datos <br>

              Nuestras Tiendas <br>

              Contáctanos <br>
          </div>
          <div class="col-lg-3 col-md-12 col-sm-12 col-12">
            <h5 class="text-danger">Siguenos</h5>
            <div>
              <img src="../../../assets/img/logoface.png" alt="" class="img-fluid">
              <img src="../../../assets/img/logoinst.png" alt="" class="img-fluid">
            </div>
            
          </div>
     </div> 
       </b>
       
       <br><br>
    </div>



