<div class="container ">
<br><br>
    <div class="row">
      <h2 class="text-danger"><b> Catalogo</b> </h2>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 table-responsive" >
          <br>
            <table class="table table-bordered">
                <thead class="text-light bg-danger">
                  <tr>
                    <th scope="col">Control <br> de plagas</th>
                    <th scope="col">Cuidado de la <br> salud</th>
                        <th scope="col">cuiado del <br>hogar</th>
                    <th scope="col">cuidado <br>personal</th>
                    <th scope="col">huerta  <br> y jardin</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">hogar</th>
                        <td>Naturista</td>
                        <td>Aseo y <br> ambientacion</td>
                        <td>Botiquin</td>
                        <td>Jardineria</td>
                        
                  </tr>
                  <tr>
                    <th scope="row"></th>
                        <td>Plantas <br> medicinales</td>
                        <td>Tratamiento <br>de agua</td>
                        <td>Capilar</td>
                        <td></td>
                        
                  </tr>
                  <tr>
                    <th scope="row"></th>
                        <td>Saludables</td>
                        <td></td>
                        <td>Coloracion</td>
                        <td></td>
                        
                  </tr>
                  <tr>
                    <th scope="row"></th>
                        <td></td>
                        <td></td>
                        <td>Corporal</td>
                        <td></td>
                        
                  </tr>
                  <tr>
                    <th scope="row"></th>
                        <td></td>
                        <td></td>
                        <td>Facial</td>
                        <td></td>
                        
                  </tr>
                </tbody>
              </table>
              
              
        </div>
</div>
<br><br>
</div>
