<div class="container">

    <br>

        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <br><br><p>Este es un espacio que creamos pensando en ti, en tus necesidades, preocupaciones, inquietudes…pensando en darte los mejores consejos de bienestar y cuidado, porque queremos que siempre te sientas bien por dentro y que se reﬂeje por fuera, porque queremos compartir contigo nuestra experiencia, recetas, prácticas y usos, esos que han funcionado de generación en generación, porque son a base de productos naturales y la naturaleza es sabia y sus ingredientes perfectos.</p><br><br><br><br>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <img src="../../../assets/img/JULIAO_PRINCIPAL.jpg" alt="" class="img-fluid">
            </div>
            <br><br>
            <div class=" col-lg-12 col-md-12 col-sm-12 col-12 ratio ratio-16x9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/NZAz0q6i9bE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            
        </div>
        <br><br>
    </div>
