<div class="container">
    <div class="row">
        <br>
        <h2 class="text-danger">Tiendas</h2>
        
            <div class="col-lg-6 col-md-3 col-sm-12 col-12 text-center">
                <br><br>
                <h6><b>Tienda Juliao 84</b></h6>
                <p >Norte CL 84 # 43-29</p>
                <img src="../../../assets/img/juliao-84.jpeg" alt="" class="img-fluid">
            </div>

            <div class="col-lg-6 col-md-9 col-sm-12 col-12">
                <iframe class=" border border-warning" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.5292646548264!2d-74.82230838551287!3d10.998860158056871!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef42d072282d607%3A0x9cda8979caef8693!2sJuliao%20Tiendas%20Calle%2084!5e0!3m2!1ses!2sco!4v1652212976880!5m2!1ses!2sco" width="500" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <br><br>
            </div>
            <div class="col-lg-6 col-md-3 col-sm-12 col-12 text-center">
                <br><br>
                <br>
                <h6><b>Tienda Juliao 93</b></h6>
                <p >Norte CL 93 # 46-26</p>
                <img src="../../../assets/img/juliao 83.png" alt="" class="img-fluid">
            </div>

            <div class=" col-lg-6 col-md-9 col-sm-12 col-12">
                <iframe class="border border-warning" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.449697720172!2d-74.82888908551278!3d11.004847457945864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef42dab31bd013f%3A0xb39af2fec7c16d15!2sJuliao%20Tiendas%20Calle%2093!5e0!3m2!1ses!2sco!4v1652213221624!5m2!1ses!2sco" width="500" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <br><br>
            </div>
            <div class="col-lg-6 col-md-3 col-sm-12 col-12 text-center">
                <br><br>
                <br>
                <h6><b>Tienda Juliao prado</b></h6>
                <p >Norte CL 55 # 74-149</p>
                <img class="img-fluid" src="../../../assets/img/tienda julio prado.jpg" alt="img-fluid">
            </div>

            <div class=" col-lg-6 col-md-9 col-sm-12 col-12">
                <iframe class="border border-warning" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.4867668563243!2d-74.80509518551281!3d11.002058457997542!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef42d9f9a66911b%3A0xc1844316c35c04f2!2sJuliao%20Tiendas%20Prado!5e0!3m2!1ses!2sco!4v1652213625608!5m2!1ses!2sco" width="500" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <br><br>
            </div>
            <div class="col-lg-6 col-md-3 col-sm-12 col-12 text-center">
                <br><br>
                <br>
                <h6><b>Tienda Juliao Gran Plaza del Sol</b></h6>
                <p >Carrera 32 # 30 – 15</p>
                <img class="img-fluid" src="../../../assets/img/juliao soledadjpg.jpg" alt="img-fluid">
            </div>

            <div class=" col-lg-6 col-md-9 col-sm-12 col-12">
                <iframe class="border border-warning" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3917.4805720049926!2d-74.78186038582719!3d10.927024659385278!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef5cdb1f35f36bf%3A0x9ff1634f6afbb8e3!2sJuliao%20Tiendas%20Gran%20Plaza%20del%20Sol%20Soledad!5e0!3m2!1ses!2sco!4v1652214583086!5m2!1ses!2sco" width="500" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <br><br>
            </div>
            

    </div>
</div>