<div class="container">
    <div class="row">
        <div class="Col-lg-6 col-md-6 col-sm-12 col-12">
            <br><br>
            <h3 class="text-danger"><b>¡Contáctanos!</b> </h3><br>
    
                Para hacer pedidos nacionales y ayudarte a resolver inquietudes puedes comunicarte a nuestras líneas de Call Center +57 (5) 367 8777 y +57 300 783 8517. <br><br>
    
                Para peticiones, quejas, reclamos, sugerencias y felicitaciones. <br><br>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <img src="../../../assets/img/servicio al cliente.jpg" alt="" class="img-fluid">
        </div>

        <div class="col-lg-6 col-md-5 col-sm-12 col-12">
            <br>
            
        </div>
    </div>
</div>
